body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 500px;
        width: 450px;

        .title {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 25px 0;
            background-color: hsl(171deg, 100%, 41%);
            color: white;
            border-radius: 4px;
        }

        .card-content {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding-top: 25px;

            .field {
                margin-bottom: 0.75rem;
            }

            .is-primary {
                width: 100%;
            }

            .dropdown {
                width: 100%;
                
                .dropdown-trigger {
                    width: 100%;

                    .button {
                        width: 100%;

                        .selected-item {
                            width: 50%;
                            display: flex;
                            justify-content: flex-start;
                        }

                        .select-role {
                            color: rgba(54, 54, 54, 0.3);
                        }

                        .icon {
                            width: 50%;
                            justify-content: flex-end;
                        }
                    }
                }

                .dropdown-menu {
                    width: 100%;
                }
            }
        }
    }
}

.myIndex{
    display: flex;
    justify-content: center;
    align-items: center;
}