body {
    .row {
        display: flex;
        flex-direction: row;
        margin: 0 25px;

        .column {
            .card {
                .card-header {
                    .like {
                        display: flex;
                        align-items: center;
                        margin-right: 1rem;
            
                        .fa-heart {
                            -webkit-text-stroke: 1px black;
                            color: #fff;
                            cursor: pointer;
                        }
            
                        .liked {
                            -webkit-text-stroke: none;
                            color: #f00;
                        }
                    }
                }

                .card-content {
                    .media {
                        .media-content {
                            min-height: 52px;
                        }
                    }

                    .content {
                        display: flex;
                        justify-content: flex-end;

                        .content__button {
                            display: flex;
                            justify-content: flex-end;
                        }

                        .button {
                            margin-top: 10px;
                            margin-left: 5px;
                            width: 0;

                            &.in-row {
                                margin: 0;
                            }

                            &.is-rounded {
                                width: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .search-row, .add-row {
        display: flex;
        justify-content: flex-end;
        margin: 10px 37px 0;

        .button {
            width: 0;
        }

        .field {
            margin-left: 20px;
        }
    }
}

.modal {
    .modal-content {
        .row {
            .column:has(.checkbox) {
                padding: 0;
            }
        }
        .row:nth-child(2) {
            .column {
                padding-top: 0.75rem;
            }
        }

        .row:nth-last-child(3) {
            .column {
                padding-bottom: 0.75rem;
            }
        }
    }
}

@media (max-width: 800px) {
    body {
        height: 100%;

        .row {
            flex-direction: column;
            margin: 0;

            .field {
                justify-content: unset;
                margin-bottom: 0.75rem;
            }
        }
    }
}

.navbar-current-page {
    border-bottom: 4px solid #fff;
    border-top: 4px solid #000000;
}

.industries-select {
    height: 110px;
    overflow-y: scroll;
}