body {
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 700px;

        .title {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 25px 0;
            background-color: hsl(171deg, 100%, 41%);
            color: white;
            border-radius: 4px;
        }
        
        .card-content {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            height: 100%;
            width: 100%;

            .card-content__body {
                width: 100%;
                height: 100%;

                .form {
                    height: 100%;
                }

                .row {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    margin-bottom: 0.75rem;
                    width: 100%;

                    .field {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        align-items: center;
                        margin: 0;
                        width: 100%;
                    
                        .label {
                            margin: 0 15px 0 0;
                        }

                        .columns {
                            width: inherit;
                            margin-left: calc(15px - 0.75rem);
                            padding-left: 0;
                        }
    
                        .textarea {
                            min-width: 0;
                            width: calc(100% - 115px);
                        }

                        .select {
                            width: 204.4px;
                        }
                    }

                    .field:first-child {
                        justify-content: flex-start;

                        .label {
                            width: 100px;
                        }
                    }
                }

                .row:last-child {
                    justify-content: flex-end;
                    align-items: flex-end;
                    margin-top: 30px;

                    &.company-submit {
                        height: calc(100% - calc(40px * 6) - 24px - 88px);
                    }

                }
            }
        }
    }
}

.company {
    height: 100vh;

    .card {
        height: 100%;
    }
}

input[type="text"]::-webkit-calendar-picker-indicator {
    display: none !important;
}

@media (max-width: 800px) {
    body {
        height: 100%;

        .card {
            .card-content {
                .card-content__body {

                    .row {
                        flex-direction: column;
                        margin: 0;

                        .field {
                            justify-content: unset;
                            margin-bottom: 0.75rem;

                            .is-one-thirds {
                                &:nth-child(2) {
                                    padding: 0 0.75rem;
                                }
                                
                                &:first-child {
                                    padding-bottom: 0;
                                }
    
                                &:last-child {
                                    padding-top: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .company {
        height: auto;

        .card {
            height: auto;
        }
    }
}

.industries-select {
    height: 110px;
    overflow-y: scroll;
}