body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 500px;
        width: 450px;

        .title {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 25px 0;
            background-color: hsl(207deg, 61%, 53%);
            color: white;
            border-radius: 4px;
        }

        .card-content {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding-top: 25px;

            .field {
                margin-bottom: 0.75rem;
            }

            .is-info {
                width: 100%;
            }

            .select {
                width: 100%;

                & select {
                    width: 100%;
                }
            }
        }
    }
}

.myIndex{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px) {
    body {
        .card {
            height: inherit;
        }
    }
}