.modal {
    .modal-content {
        .box {
            .row:first-child {
                .column {
                }
            }

            .row:nth-child(-n + 2) {
                .column {
                    display: flex;
                }   
            }

            .row:nth-child(3) {
                .column:first-child {
                    margin: 0;
                }
            }

            .row:last-child {
                .column {
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }
}